#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #212121;
  color: white;
}
